<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Setup <span class="domain-name-title"></span>!</h1>
    </header>

    <main>
      <h2>Add your bot to a server</h2>
      <p>
        You have to have a server to add your bot to and you have to have admin permissions. <a href="https://support.discordapp.com/hc/en-us/articles/204849977-How-do-I-create-a-server-">If you don't have one already, here is how you make one.</a>
      </p>
<p>
  There are several ways to add a Discord bot to the server. For this one we'll use Oauth2, which allows you to use a link that authorizes your bot to a specific server. Read more here. 
      </p>
      <div id="no-client-found">
        Oops looks like there is something wrong with your install. Check out
        the <a href="/install">Install guide to get it set up</a>
      </div>
      <div class="input" id="client-found">
        <label>Bot oauth2 URL</label>

        <div class="addon">
          <input readonly class="copyurl" id="oauth-url" type="text" value="" />
          <button onclick="clipboard('oauth-url')">Copy</button>
          
          <a href="" id="oauth-url-go" class="button" target="new">Go</a>
        </div>
      </div>
      
      <h2>Keep your bot awake</h2>
      <div id="uptime-not-found">
        Oops looks like there is no Uptime Robot api key, you can head to the install guide to learn how to set it up
      </div>
      <div id="uptime-not-set-up">
        Looks like Uptime Robot hasn't been set up yet. Click to set up up a monitor automagically with the following recommended settings
        <ul>
          <li>Monitor type: HTTP(s)</li>
          <li>Friendly Name: <span class="domain-name-title"></span></li>
          <li>URL: https://<span class="domain-name-title"></span>.glitch.me</li>
          <li>Monitoring Interval: Every 5 minutes</li>

        </ul>
                  <button onclick="monitorSetup()">Create my Uptime Robot monitor!</button>

        
      </div>
      <div id="uptime-working">
        Sweet, your Uptime Robot is set up and working, it will ping your domain every 5 minutes to keep your Discord bot awake! <a href="https://uptimerobot.com/dashboard#">Head to the Uptime Robot Dashboard to see its status</a>
      </div>


      <h2>Code your bot!</h2>
      <p>
        
      </p>

      <h2>Protect your bot</h2>

      <h2>Keep your bot awake</h2>

      <h2>Give your bot a memory</h2>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
