<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/install.js" defer></script>
  </head>
  <body>
    <header><h1>Starter Botkit Discord</h1></header>

    <main>
      <h2>Remix this project</h2>
      <p>
        "Remixing" on Glitch makes a new copy of this project. It will have a
        randomly generated name which you can change.
      </p>

      <p>
        <a href="https://glitch.com/edit/#!/remix/starter-botkit-discord"
          ><img
            src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg"
            alt="Remix on Glitch"
        /></a>
      </p>

      <div class="input">
        <label>This Project's URL:</label>
        <div class="addon">
          <input
            readonly
            class="copyurl"
            id="project_url"
            type="text"
            value=""
          />
          <button onclick="clipboard('project_url')">Copy</button>
        </div>
      </div>
      <h2>Create your Discord application</h2>

      <div>
        <fieldset>
          <legend>
            Steps for creating a Discord Application: Complete these at the
            <a
              href="https://discordapp.com/developers/applications"
              target="new"
              >Discord Developer Portal</a
            >
          </legend>
          <div>
            <input type="checkbox" name="register" id="check_1" />
            <label for="check_1"
              >Login to the
              <a
                href="https://discordapp.com/developers/applications"
                target="new"
                >My Applications section of the Discord Developer Portal</a
              ></label
            >
          </div>

          <div>
            <input type="checkbox" name="register" id="check_2" />
            <label for="check_1"
              >Click "New Application" to create an application</label
            >
          </div>
          <div>
            <input type="checkbox" name="register" id="check_3" />
            <label for="check_1"
              >Once you've named your application you should be on a settings
              page that has a "Client ID". Copy it here:
            </label>
            <input
              id="discordClientID"
              class="copyurl"
              onchange="generateEnv()"
              placeholder="Paste your client ID here "
            />
          </div>

          <div>
            <input type="checkbox" name="register" id="check_4" />
            <label for="check_1"
              >Click on "Bot" on the sidebar to go to the "Bot" settings
              page</label
            >
          </div>

          <div>
            <input type="checkbox" name="register" id="check_5" />
            <label for="check_1"
              >Click the "Add bot" button on the "Bot" settings page</label
            >
          </div>

          <div>
            <input type="checkbox" name="register" id="check_6" />
            <label for="check_1"
              >You should see a "token" section. Click "copy" to copy the
              token</label
            >
          </div>
        </fieldset>
      </div>

      <h2>Discord tokens</h2>
      <p>
        <label>Token</label>
        <input
          id="discordToken"
          class="copyurl"
          onchange="generateEnv()"
          placeholder="Paste your token here "
        />
      </p>
      <p>
        A token is a password, which means you want to keep it secure. If
        someone gets it they can act as your bot, which can case some issues.
        You don't want it in <code>server.js </code> because by default in
        Glitch anyone can see that file. And if you copy the project, it will
        copy the file with the secure token.
      </p>
      <p>
        The <em>only</em> place you should put it is a file called
        <code>.env</code>
      </p>

      <p>
        You should put your token after <code>DISCORD_TOKEN=</code>. So if your
        token is <code>ewriewirew438234adadfs</code> it will look like
        <code>DISCORD_TOKEN=ewriewirew438234adadfs</code>. Make sure you don't
        accidentally add any spaces or other characters after it because it
        won't work correctly.
      </p>
      <h2>Set up your .env file</h2>

      <div class="input">
        <label
          >This is what your .env file should be like, you can copy and
          replace</label
        >
        <div class="addon">
          <textarea rows="20" class="copyurl" id="env_file"></textarea>
          <button class="textarea" onclick="clipboard('env_file')">Copy</button>
        </div>
      </div>

      <p><a href="" id="envFileLink">Here is a link to your .env file</a></p>
      <h2>Test your .env file</h2>
      <p>
        Click the button below to test your <code>.env file</code>
      </p>
      <button id="checkInstallButton">Check Connection</button>
      <div id="connectedSection">
        <p>
          Looks like your token is working! Click the refresh button to refresh
          the page and see further steps for building your bot:
        </p>
        <button id="refreshPageButton">Refresh!</button>
      </div>

      <div id="errorSection">
        <p>
          Oops look's like there might be something wrong with your
          <code>.env</code> file. Check it out and then try again.
        </p>
        <h3>Common issues</h3>
        <ul>
          <li>Spaces between <code>=</code> and the token</li>
          <li>Spaces after the token</li>
          <li>
            Adding the text from the generator above to the file instead of
            replacing the old text
          </li>
        </ul>
      </div>
      
            <div id="apiErrorSection">
        <p>
         the good news is you have a good .env file the bad news is it doesn't recognize ur token
        </p>
        
      </div>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
