<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8" />
    <title>Glitch Discord Starter Kit</title>
    <!-- Search Engine -->
    <meta
      name="description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta
      name="image"
      content="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Glitch Discord Starter Kit" />
    <meta
      itemprop="description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta
      itemprop="image"
      content="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Glitch Discord Starter Kit" />
    <meta
      name="twitter:description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta name="twitter:site" content="@glitch" />
    <meta
      name="twitter:image:src"
      content="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Glitch Discord Starter Kit" />
    <meta
      name="og:description"
      content="Build a Discord Bot on Glitch with this interactive install guide"
    />
    <meta
      name="og:image"
      content="http://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Froboticon.png"
    />
    <meta name="og:url" content="http://starter-botkit-discord.glitch.me/" />
    <meta name="og:type" content="website" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link
      href="https://unpkg.com/nes.css@2.2.0/css/nes.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Press+Start+2P"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header><h1>Glitch Discord Starter Kit</h1></header>

    <main>
      <section>
        <div class="nes-container is-light with-title">
          <h2 class="title">Remix this project</h2>
          <i class="snes-jp-logo"></i>
          <p>
            Welcome to our interactive Discord Bot install guide! We highly
            recommend our
            <a href="https://www.youtube.com/watch?v=uv0hcWw7jdA"
              ><img
                src="https://cdn.glitch.com/ca1b081c-b4c8-41bc-bb08-91d500baeab9%2Fyoutube-square.svg?v=1565898488946"
                class="pixel-icon"
              />
              intro video</a
            >, after watching it you should have a general idea of what you need
            to do to create your Discord bot. Next you'll want to create your
            own version of this Glitch App, if you haven't already. To do this,
            create a "Remix."
          </p>
          <p>
            "Remixing" on Glitch makes a new copy of this project that belongs
            to you. It will have a randomly generated name which
            <a
              href="https://glitch.com/help/how-do-i-change-my-projects-name-description-avatar/"
              target="new"
              >you can change.</a
            >
          </p>

          <p>
            <a href="https://glitch.com/edit/#!/remix/starter-discord"
              ><img
                src="https://cdn.glitch.com/2703baf2-b643-4da7-ab91-7ee2a2d00b5b%2Fremix-button.svg"
                alt="Remix on Glitch"
            /></a>
          </p>
        </div>
      </section>
      <section>
        <div class="nes-container is-light with-title">
          <p>
            If you'd like to preview the guide, click the links below, but some
            functionality won't work until you create your own remix
          </p>
          <div class="lists">
            <ul class="nes-list is-circle">
              <li><a href="/install">Step 1: Install Guide</a></li>
              <li><a href="/guide">Step 2: Setup Guide</a></li>
            </ul>
          </div>
        </div>
      </section>
    </main>

    <footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
