/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 16px;
  border-radius: 3px;
  background-color: lightgrey;
  border: 1px solid grey;
  box-shadow: 2px 2px teal;
  cursor: pointer;
}

button:hover {
  background-color: yellow;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}



textarea {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", Monospace;
  font-size: inherit;
  width: 100%;
  padding: 4px 0px 2px;
  resize: none;
    border: 1px solid lightgrey;
  border-radius: 3px;
  background: none;
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
}
textarea:focus {
  -webkit-box-shadow: 0px 0px 3px 0px #a2d7ff;
          box-shadow: 0px 0px 3px 0px #a2d7ff;
}


.button-wrap {
    display: block;
    margin-bottom: 12px;
}

.pop-over input[type="checkbox"], .pop-over .input[type="checkbox"] {
	width: 14px;
	margin: 0;
	margin-right: 5px;
	vertical-align: 0;
	cursor: pointer;
}