/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}


body {
  max-width: 980px;
  margin: 0 auto;
  padding-top: 2rem;
  transition: all 0.2s ease;
}

code {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", Monospace;
}

section {
  margin-top: 2.5rem;
}

.checklist {
  margin: 2em 0;
}

.nes-list li {
  margin-top: 1em;
}

.info-box {
  margin: 1em 0;
}

.spaced {
  margin: 1em 0;
}

.buttons {
  margin: .5em 0;
}

/* Balloons sample */
section.message-list {
  display: flex;
  flex-direction: column;
}

.message-list>.message {
  display: flex;
  margin-top: 2rem;
}

.message-list>.message>.nes-balloon {
  color: black;
  max-width: 550px;
}

.message-list>.message i {
  align-self: flex-end;
}

.message-list>.message.-left {
  align-self: flex-start;
}

.message-list>.message.-right {
  align-self: flex-end;
}

.message-list>.message.-left i {
  margin-right: 2rem;
}

.message-list>.message.-right i {
  margin-left: 2rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.pixel-icon {
  vertical-align: text-bottom;
  border-style: none;

}

textarea {
  font-family: Menlo, Consolas, Monaco, "Lucida Console", Monospace;
  font-size: inherit;
  width: 100%;
  padding: 4px 0px 2px;
  resize: none;
  border: 1px solid lightgrey;
  border-radius: 3px;
  background: none;
  -webkit-transition: -webkit-box-shadow 0.1s;
  transition: -webkit-box-shadow 0.1s;
  transition: box-shadow 0.1s;
  transition: box-shadow 0.1s, -webkit-box-shadow 0.1s;
}

textarea:focus {
  -webkit-box-shadow: 0px 0px 3px 0px #a2d7ff;
  box-shadow: 0px 0px 3px 0px #a2d7ff;
}


@media screen and (max-width: 768px) {
  body {
    margin: 2rem 0.5rem;
    padding: 0;
  }


  .message-list>.message>.nes-balloon {
    max-width: 60%;
  }
}